.form-shadow {
  margin-top: 5vh;
  border: 1px solid black;
  box-shadow: 8px 8px 0px 1px rgba(0, 0, 0, 1);
}
.form-shadow button {
  width: 100px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  background-color: green;
  box-shadow: 2px 2px 0px 1px rgb(255, 68, 0);
}
.form-shadow button:hover {
  box-shadow: 2px 2px 0px 1px green;
  background-color: rgb(255, 68, 0);
}
.input {
  margin: 5px;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.input label {
  align-self: flex-start;
  font-size: large;
  font-weight: bold;
}
.form-shadow .switch a {
  color: green;
  text-decoration: none;
  font-size: xx-small;
}
