*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 700;
}
#root {
  width: 80vw;
  height: 100vh;
  text-align: center;
  margin: auto;
  /* border: 5px solid red; */
}
:root {
  /* =================== THEME COLORS ============================== */
  /* light */
  --light-text: #000;
  --light-background: #fff;
  /* Dark */
  --dark-background: #000;
  --dark-text: #fff;
}
/* themes */
#light {
  color: var(--light-text);
  background-color: var(--light-background);
}
#dark {
  color: var(--dark-text);
  background-color: var(--dark-background);
}
